		<!-- Footer -->
		<footer class="text-light pt-5 pb-4">
			<div class="container">
				<div
					class="row">
					<!-- Company Info -->
					<div class="col-md-4 mb-4">
						<h5 class="text-uppercase fw-bold">CCP</h5>
						<p>
							Creating innovative and tailored solutions to help businesses thrive
							          in the digital era. Connect with us for cutting-edge technology and
							          support.
						</p>
					</div>
					<!-- Quick Links -->
					<div class="col-md-2 mb-4">
						<h5 class="text-uppercase fw-bold">Quick Links</h5>
						<ul class="list-unstyled">
							<li>
								<a href="{{path ('app_home')}}" class="text-light text-decoration-none">Home</a>
							</li>
							<li>
								<a href="#about-menu" class="text-light text-decoration-none">About</a>
							</li>
							<li>
								<a href="#our-it-services" class="text-light text-decoration-none">Services</a>
							</li>
							<li>
								<a href="#contact-menu" class="text-light text-decoration-none">Contact</a>
							</li>

						</ul>
					</div>
					<!-- Resources -->
					<div class="col-md-2 mb-4">
						<h5 class="text-uppercase fw-bold">Resources</h5>
						<ul class="list-unstyled">
							<li>
								<a href="#" class="text-light text-decoration-none">Cookies</a>
							</li>
							<li>
								<a href="#faqs" class="text-light text-decoration-none">FAQs</a>
							</li>
							<li>
								<a href="{{path ('privacy_policy')}}" target="_blank" class="text-light text-decoration-none">Policy & Privacy</a>
							</li>
							<li>
								<a href="{{path ('terms_of_service')}}" target="_blank" class="text-light text-decoration-none">Terms</a>
							</li>
						</ul>
					</div>
					<!-- BADGE CO2 and Maps -->
					<div class="col-md-4 mb-4 d-flex flex-column align-items-center">
						<div id="wcb" class="carbonbadge mb-3"></div>
						<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.588626906843!2d4.36542967752298!3d50.82026006066697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c4ee169e2a49%3A0x7094246845ea0297!2sCCP%20SRL!5e0!3m2!1sen!2sbe!4v1733143139832!5m2!1sen!2sbe&hl=en" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
				<hr
				class="bg-light"/>
				<!-- Footer Bottom -->
				<div class="row mt-3">
					<div class="col text-center">
						<p class="mb-0">&copy;
							<span id="current-year"></span>
							CCP. All Rights Reserved.</p>
							<br>
							<p>This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
    <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
					</div>
				</div>
			</div>
		</footer>